

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}
.app {
    display: flex;
}
#banner {
    background-color: #33BEBE;
    font-size: 52px;
    font-family: helvetica;
    color: white;
    padding-top: 20px;
    margin-left: 5px;
}
.description{
    color: #7C8B88;
    font-size: 30px;
    margin-left: 15px;
}
